body
{
  color: rgb(148, 77, 77);
  background: #475379;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
font-size: 14px;
color: rgb(14, 250, 250);
background-color: rgb(98, 98, 139);
border-radius: 10px;
padding: 6px;
}